body {
	font-family: Raleway;
	margin-left: 5px;
}
#title {
	font-size: 100px;
	font-family: Lobster;
	padding: 0px;
	margin: 5px 5px 0px 5px;
}
h1 {
	margin: 3px 3px 0px 5px;
}
h2 {
	font-weight: bolder;
	color: black;
	margin: 0px 0px 0px  5px;
	text-decoration: underline; 
}
p {
	margin-left: 5px;
}
#chartContainer{
	height: 100%;
}